body {
	background-color: rgb(227, 223, 209);
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
}

header.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2rem;
}

footer.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 2rem;
}

main.main {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 100%;
	height: 100%;

	overflow: hidden;
}

.deadend-logo {
	width: 50%;
	max-width: 7.5rem;
	height: auto;
	display: block;
}

.deadend-collection {
	width: 80%;
	max-width: 15rem;
	height: auto;
	display: block;
}

.phongbat-loading {
	display: block;
	width: 100%;
	max-width: 400px;
}

.phongbat-index {
	display: block;
	width: 100%;
	max-width: 750px;
}

.phongbat-links {
	margin-top: 2rem;
	a {
		color: inherit;
	}
}

.de-noise {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;

	display: block;

	width: 100%;
	height: 100%;

	background-color: transparent;
	background-image: url('../images/noise.gif');
	background-size: 300px auto;

	opacity: 0.05;

	user-select: none;
	pointer-events: none;
}

.de-wrapper {
	position: fixed;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	overflow: hidden;

	color: rgb(227, 223, 209);
	// color: #3f4a24;

	.de-img {
		width: 80%;
		max-width: 400px;
	}
}

.de-note {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1.5rem;
	z-index: 2;

	color: #3f4a24;

	.de-bgm-toggle {
		display: block;
		cursor: pointer;
		text-align: center;
		margin: 0.5rem 0;
	}
}

#de-bgm {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}

.de-girl {
	width: 6rem;
}

.de-link-img {
	display: block;
	height: 15vh;
}
